
<%= form_for(@sample) do |f| %>
  <% if @sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
      <% @sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h3><%= f.label :name, 'SAMPLE NAME' %></b>: <%= f.text_field :name, :size=>"40" %></h3>

<center>
  <table class="protein">
    <tr>
      <td>
        <b>Number of Cycles to Run: ________ cycles</b> (please specify)
        <br>
        <br>a. <%= f.text_field :weight, :size=>"5" %> - <%= f.label :weight, 'Molecular Weight' %>
        <br>b. <%= f.text_field :estimated_amount, :size=>"5" %> - <%= f.label :estimated_amount %>
        <br>c. <%= f.label :how_estimated, 'How was the amount of Protein estimated?' %> 
        <br><center><%= f.text_area :how_estimated, :size => "45x4" %></center>
      </td>
      <td>
        <b>Sample Preparation: <%= f.text_field :preparation, :size=>"10" %> (select one)</b>
        <table class="protein">
          <tr>
            <th>PVD Blot -</th>
            <td><%= f.text_field :pieces, :size=>"5" %> - Number of pieces</td>
          </tr>
          <tr>
            <th>Liquid -</th>
            <td>
              <%= f.text_field :buffer, :size=>"5" %> - Buffer <br>
              <%= f.text_field :volume, :size=>"5" %> - Volume <br>
              <%= f.text_field :concentration, :size=>"5" %>[mg/ml] - Concentration
            </td>
          <tr>
            <th>Digestion -</th>
            <td><%= f.text_field :enzyme, :size=>"5" %> - Enzyme</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table class="protein1">
    <tr>
      <td>
        <b>Radio label: <%= f.text_field :label, :size=>"10" %> (select one)</b><br>
        <center>
          <b>Amount <%= f.text_field :amount, :size=>"5" %> cpm</b><br><hr>
          <%= f.label :label, '(Radiolabelled samples are restricted to <2000 cpm 3H, 14C, 32P or 35S.)' %><br>
        </center>
        <br>
        <b>NOTES: Special Instructions or considerations:</b><br>
        <center><%= f.text_area :special_instructions, :size => "100x6" %></center>
      </td>
    </tr>
  </table>

    <p><b>SUBMIT BUTTON CURRENTLY DISABLED</b></p>
<!--      <%= f.submit %>   -->
    

</center>

<% end %>  

