
<%= form_for(@sample) do |f| %>
  <% if @sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
      <% @sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="protein">
    <tr>
      <td colspan="2"><b><%= f.label :name, 'SAMPLE NAME' %></b>: <%= f.text_field :name, :size=>"40" %></b></td>
    </tr>
    <tr>
      <td><b>Number of Cycles to Run: <%= f.text_field :blot, :size=>"3" %> cycles</b> (please specify)</td>
      <td><center><b>SAMPLE PREPARATION: <%= f.select(:preparation, @preparation_options) -%></b></center></td>
    </tr>
    <tr>
      <td>
        a. <%= f.text_field :weight, :size=>"5" %> - <%= f.label :weight, 'Molecular Weight' %><br>
        b. <%= f.text_field :estimated_amount, :size=>"5" %> - <%= f.label :estimated_amount %><br>
        c. <%= f.label :how_estimated, 'How was the amount of Protein estimated?' %> <br>
        <center><%= f.text_area :how_estimated, :size => "45x6" %></center>
      </td>
      <td>
        <center>Please update the below input fields that are associated to the selected Sample Preparation ONLY.</center>
        <table class="protein">
          <tr>
            <th>PVD Blot -</th>
            <td><%= f.text_field :pieces, :size=>"5" %> - Number of pieces</td>
          </tr>
          <tr>
            <th>Liquid -</th>
            <td>
              <%= f.text_field :buffer, :size=>"5" %> - Buffer <br>
              <%= f.text_field :volume, :size=>"5" %> - Volume <br>
              <%= f.text_field :concentration, :size=>"5" %>[mg/ml] - Concentration
            </td>
          <tr>
            <th>Digestion -</th>
            <td><%= f.text_field :enzyme, :size=>"5" %> - Enzyme</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <p align=center>
          <b>RADIO LABEL: <%= f.select(:label, @label_options) -%> Amount <%= f.text_field :amount, :size=>"5" %> cpm</b><br>
          <font style="background-color: #D0D0D0;"><%= f.label :label, '(Radiolabelled samples are restricted to <2000 cpm 3H, 14C, 32P or 35S.)' %></font><br><br>
          
            <b>NOTES: SPECIAL INSTRUCTIONS or CONSIDERATIONS:</b><br>
            <%= f.text_area :special_instructions, :size => "95x6" %>
          
        </p>
      </td>
    </tr>
  </table>



  <center>
    <p><b>SUBMIT BUTTON CURRENTLY DISABLED</b></p>
    <!--      <%= f.submit %>   -->
  </center>
    
<% end %>  
