<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @sample.order_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sample.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @sample.weight %>
</p>

<p>
  <strong>Estimated amount:</strong>
  <%= @sample.estimated_amount %>
</p>

<p>
  <strong>How estimated:</strong>
  <%= @sample.how_estimated %>
</p>

<p>
  <strong>Preparation:</strong>
  <%= @sample.preparation %>
</p>

<p>
  <strong>Blot:</strong>
  <%= @sample.blot %>
</p>

<p>
  <strong>Pieces:</strong>
  <%= @sample.pieces %>
</p>

<p>
  <strong>Buffer:</strong>
  <%= @sample.buffer %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @sample.volume %>
</p>

<p>
  <strong>Concentration:</strong>
  <%= @sample.concentration %>
</p>

<p>
  <strong>Enzyme:</strong>
  <%= @sample.enzyme %>
</p>

<p>
  <strong>Label:</strong>
  <%= @sample.label %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @sample.amount %>
</p>

<p>
  <strong>Special instructions:</strong>
  <%= @sample.special_instructions %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
