<div style="float: right; margin: 1em"> <%= image_tag "ordering1.png", :width => 120 -%> </div>
<h2>ORDERING INFORMATION</h2>
<p align="justify">
	Orders for oligos and peptides can be place by using the online form or by downloading a form and faxing it in to us. Requests for other services can be dropped off in person or mailed to us. The fax number and mailing address are on the "contact" page.
</p>

<h2>BILLING INFORMATION REQUIRED</h2>
<table class="home1">
	<tr>
		<th>Tufts University</th>
		<td>-</td>
		<td>Interdepartmental Requisition Form.</td>
	</tr>
	<tr>
		<th>Tufts Medical Center</th>
		<td>-</td>
		<td>Cost Center number, Department, and Box number filled in on the form.
		</td>
	</tr>
	<tr>
		<th>All Others</th>
		<td>-</td>
		<td>Purchase Order number or Visa, MasterCard, or American Express number, as well as a mailing and billing address.</td>
	</tr>
</table>

<table class="home2">
	<tr>
		<th><br>ONLINE FORMS</th>
		<th><br>DOWNLOAD PDF FORMS</th>
	</tr>
		<td style="font-weight:bold">
			<a href=http://tucf-dna.med.tufts.edu/>DNA Sequencing</a>
			<br><a href=https://secure.netsolhost.com/tucf.net/dnasynthesis-form-f.html>DNA Synthesis</a>
			<br><a href=http://www.idtdna.com/TUCF/Login.aspx>DNA Synthesis through IDT</a>
			<br><a href="http://tucf-genomics.tufts.edu">Next-Gen DNA Sequencing</a>
			<br><a href=https://secure.netsolhost.com/tucf.net/peptidesynthesis-form-f.html>Peptide Synthesis</a>
			<br><a href=http://tucf-dna.med.tufts.edu/>PCR Sequencing</a>
		</td>
		<td style="font-weight:bold">
			<%= link_to "DNA Long Oligo Synthesis", image_path('documents/dna-long-oligo-form.pdf') %> 
			<br><%= link_to "DNA Synthesis", image_path('documents/oligonucleotide.pdf') %>
			<br><%= link_to "Mass Spectrometer Analysis", image_path('documents/mass-spec-order.pdf') %>
			<br><%= link_to "Peptide Synthesis", image_path('documents/peptide-order.pdf') %>
			<br><%= link_to "Peptide Repurification", image_path('documents/peptide_repurification.pdf') %>
			<br><%= link_to "Protein Sequencing", image_path('documents/protein.pdf') %>
		</td>
</table>




	
